#pokemonDetail {
    border-top: 2px solid rgb(255, 196, 0);
}
.pokemons {
    padding: 0;
    margin: 0;
}

body {
     background: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0.711),rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.711))
}

.pokemon .number{
    color: #000;
    opacity: 0.3;
}
.pokemon .types {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 1rem 43.2rem;
    color: #ffffffe9;
    font-size: .800rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.0);
    text-transform: capitalize;
}

.pokemon .types .type{
   padding: 4px 4.2px;
   border-radius: 1rem;
   text-align: center;
}

img {
    padding: 1.8rem;
}


header {
    display: flex;
    flex-direction: row;
}
header a{
    font-size: 3rem;
    text-decoration: none;
    color: #ffffff;
}

#pokemonName{
    color: #ffffff;
    margin: auto;
    padding-right: 1rem;
    letter-spacing: 0.10rem;
    text-transform: capitalize;
}

.abilities {
    padding-bottom: 10rem;
}
.abilities ul{
    text-transform: capitalize;
    list-style-type: none;
    margin-right: 2.8rem;;
}

.stats {
    padding-top: 0.2rem;
}
.stats ul{
    text-transform: capitalize;
    list-style-type: none;
    margin-right: 2.8rem;
}

#pokemonDetail {
    text-align: center;
}

.container {
    background-color: #ffffff;
    border-radius: 2rem;
}

.normal {
    background-color: #a6ab77;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.bug {
    background-color: #a8b720;
}
.poison {
    background-color: #a040a0;
}
.flying {
    background-color: #a98ff0;
}
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7 ;
}
.ground {
    background-color: #dfbf69 ;
}
.fighting {
    background-color: #bf3029;
}
.psychic {
    background-color: #f65687;
}
.rock {
    background-color: #b8a137 ;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color:#b9b7cf;
}
.dragon {
    background-color:#6f38f6 ;
}
.fairy {
     background-color: #f9aec7;
}

.types .type {
    filter: brightness(1.1);
}